svg {
    font: 12px sans-serif;
}

#chart {
    height: 500px;
}

.node rect {
    cursor: move;
    fill-opacity: .9;
    shape-rendering: crispEdges;
}

.node text {
    pointer-events: none;
    font-size: 14px;
}

.link {
    fill: none;
    stroke: #000;
    stroke-opacity: .6;
}

.link:hover {
    stroke-opacity: 0.9;
}